@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
    background-color: black;
    color: aliceblue;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    width: 60%;
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: .5s;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

li:hover {
    color: #D21617;
}

#logo {
    width: 150px;
    height: auto;
}

#bloco-image {
    width: 100%;
    height: 450px;
    display: flex;
}

#image {
    width: 50%;
    height: 100%;
}

#bloco {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#bloco1 {
    width: 50%;
    height: 100%;
    padding-top: 15px;
    justify-content: space-around;
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}

h1 {
    font-size: 3rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
}

.content {
    width: 100%;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

label {
    width: 100%;
    color: aliceblue
}

input {
    width: 100%;
    height: 5px;
    background-color: rgba(195, 14, 14, 0.504);
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 12px;
    color: #000;
}

textarea {
    width: 100%;
    height: 60px;
    background-color: rgba(195, 14, 14, 0.504);
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 12px;
    color: #000;
    resize: none;
}

.but {
    width: 70px;
    height: 30px;
    background-color: #D21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .8s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    outline: none;
    margin-top: 25px;
}

.but:hover {
    background-color: #fff;
    color: #000;

}


footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

span {
    color: #fff;
    font-family: 'Kdam Thmor Pro', sans-serif;
}

.footer-navigation {
    display: none;
}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width:768px) {
    .footer-navigation {
        display: block;
    }

    nav {
        display: none;
    } 

    #bloco-image {
        display: flex;
        flex-direction: column;
    }
    .image {
       width: 100%;
       height: auto;
    }

    #bloco {
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .button {
        width: 100%;
        margin-top: 30px;
    }

}